
ul ul {
  display:none;
}
.menu{
  list-style-type: none;
}

li:hover ul.sous-menu{
  display:block;
}

.sous-menu{
  list-style-type: none;
}

header {
    font-size: 48px;
    color: #273746;
    display: flex;
    justify-content: space-between;
    background-color: #B2BABB;
    border-style: outset;
    border-color: #273746;
    border-radius: 10px;
    text-shadow:2px 1px #273746;

}
h1{
  color: #2E86C1;
  font-size: 27px;
  font-family: sans-serif;
  text-align: center;
}
.robot{
  color: #1F618D;
  font-family: "Arial";
  font-size: 18px;
}
.conférence{
  font-size: 18px;
  color: #1F618D;
  font-family:"Arial";
}
body{
  background-color: #D6EAF8;
}
