h1{
  font-size: 19px;
  font-family:"Arial";
  font-weight: bold;
  color: #3498DB
  }

ul ul {
  display:none;
}
.menu{
  list-style-type: none;
}

li:hover ul.sous-menu{
  display:block;
}

.sous-menu{
  list-style-type: none;
}
