@font-face {
    font-family: menufont;
    src: url(neuropol.ttf);
}

html{
  font-family: 'Noto Serif', serif;
  color:#1F86B2;
}

ul ul {
  display:none;
}

.menu{
  list-style-type: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#6ac7ef), to(#206d84));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*li:hover ul.sous-menu{
  display:block;
}*/

.sous-menu{
  position: absolute;
  z-index: 1;
  list-style-type: none;
  font-size: 30px;
}

.sidebar{
  display:none;
}

body{
  background-color:#f7f8fc;
}


header {
  font-family: menufont;
  font-size: 48px;
  background: -webkit-gradient(linear, left top, left bottom, from(#6ac7ef), to(#206d84));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 781px) {
  header {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 780px) {
  header
  {
    display:none;
  }
  .sidebar
  {
    font-size: menufont;
    display: flex;
    flex-direction: column;
    position:left;
  }
}


.menu a:hover{
  text-shadow:2px 2px white;
}

a{
  text-decoration:none;
  background: -webkit-gradient(linear, left top, left bottom, from(#6ac7ef), to(#206d84));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.accueil {
    width:60%;
    height:5px;
    margin-left: 260px;
    margin-top: 5%;
    text-align: center;
    height: 220px;
    background-color: #ffffff;
    border-radius: 1px 1px 1px 1px;
    overflow: hidden;
    border-width: 1px;
    border-color: #ededed;
    padding-top: 20px!important;
    padding-right: 20px!important;
    padding-bottom: 20px!important;
    padding-left: 20px!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  }

h1{
  color:#206d84;
  font-size: 30px;
  font-style: italic;
  line-height: 2;
  text-shadow:2px #6ac7ef;
}

.animation{
    z-index: 2;
    display: flex;
    justify-content: center;
  }

@keyframes slidin{
  from{
    left:-500px;
  }
  to{
    left:500px;
  }
}


.gauche img{
  width: 500px;
  height: 400px;
  position: relative;
  animation-name: slidin;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.droite img{
  position: relative;
  width: 500px;
  height: 400px;
  animation-name: slidin;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.video{
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

footer{
  font-size:20px;
  display: flex;
  justify-content: center;
}

.logos{
  display: flex;
  justify-content: space-between;
}
