@font-face {
    font-family: menufont;
    src: url(neuropol.ttf);
}

html{
  font-family: 'Noto Serif', serif;
  color:#1F86B2;
}

ul ul {
  display:none;
}

.menu{
  list-style-type: none;
}

li:hover ul.sous-menu{
  display:block;
}

.sous-menu{
  position: absolute;
  z-index: 1;
  list-style-type: none;
  font-size: 30px;
}

.sidebar{
  display:none;
}

body{
  background-color:#f7f8fc;
}


header {
  font-family: menufont;
  font-size: 48px;
}

@media all and (min-device-width: 781px)
{
  header {
    display: flex;
    justify-content: space-between;
  }
}

@media all and (min-device-width: 0px) and (max-device-width: 780px)
{
  header
  {
    display:none;
  }
  .sidebar
  {
    font-size: menufont;
    display: flex;
    flex-direction: column;
    position:left;
  }
}


.menu a:hover{
  color:white;
  text-shadow:2px 2px #1F86B2;
}

a{
  text-decoration:none;
  color:#1F86B2;
}

.accueil {
  width:60%;
  height:5px;
  margin-left: 260px;
  text-align: center;
  height: 220px;
  background-color: white;
  }

h1{
  font-size: 30px;
  font-style: italic;
  line-height: 2;
  text-shadow:2px 1px #A6A0AE;
}

  .animation{
    z-index: 2;
    display: flex;
    justify-content: center;
  }

@keyframes slidin{
  from{
    left:-500px;
  }
  to{
    left:500px;
  }
}


.gauche img{
  width: 500px;
  height: 400px;
  position: relative;
  animation-name: slidin;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-direction: normal;
  animation-fill-mode: forwards;
}


.droite img{
  position: relative;
  width: 500px;
  height: 400px;
  animation-name: slidin;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.video{
  display: flex;
  justify-content: center;
}

footer{
  font-size:20px;
  display: flex;
  justify-content: center;
}

.logos{
  display: flex;
  justify-content: space-between;
}
