@font-face {
    font-family: menufont;
    src: url(neuropol.ttf);
}

html{
  font-family: 'Noto Serif', serif;
  color:#1F86B2;
}

ul ul {
  display:none;
}

.menu{
  list-style-type: none;
}

li:hover ul.sous-menu{
  display:block;
}

.sous-menu{
  list-style-type: none;
  font-size: 30px;
}

body{
  background-color:#f7f8fc;
}

header {
    font-family: menufont;
    font-size: 48px;
    display: flex;
    justify-content: space-between;
}

.menu a:hover{
  color:white;
  text-shadow:2px 2px #1F86B2;
}

a{
  text-decoration:none;
  color:#1F86B2;
}

.accueil {
      margin-top: 4px;
      height: 350px;
      width: 100%;
      text-align: center;
      background-color: white;
  }

.citation{
  font-size: 48px;
  font-style: italic;
  line-height: 1.8;
  text-align: center;
  text-shadow:2px 1px #A6A0AE;
}

  .animation{
    display: flex;
    justify-content: center;
  }

@keyframes slidin{
  from{
    left:-500px;
  }
  to{
    left:500px;
  }
}


.gauche img{
  width: 500px;
  height: 400px;
  position: relative;
  animation-name: slidin;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-direction: normal;
  animation-fill-mode: forwards;
}


.droite img{
  position: relative;
  width: 500px;
  height: 400px;
  animation-name: slidin;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

.video{
  display: flex;
  justify-content: center;
}

footer{
  font-size:20px;
  display: flex;
  justify-content: center;
}

.logos{
  display: flex;
  justify-content: space-between;
}
